<h1>Liste de tâches</h1>

<%- include('add-todo') %>

<div class="todos">
  <% todos.forEach(function({title, description, image}) { %>
  <div class="todo">
    <img
      src="<%= image %>"
      alt="Image de la tâche"
      onerror="this.src = '/static/assets/images/default.png'"
    />
    <div class="main">
      <h2><%= title %></h2>
      <h3><%= description %></h3>
    </div>
    <!-- <input type="text" value="<%= description %>" /> -->
    <div class="buttons">
      <button>✏️</button>
      <button>✖️</button>
    </div>
  </div>
  <% }) %>
</div>
